<div class="comment">
	<div class="user">
		<span class="user-initials">
			<strong><%= "#{comment['user']['first_name'][0]}#{comment['user']['last_name'][0]}" %></strong>
		</span>
	</div>
	<div>
		<span class="user-name">
			<strong><%= "#{comment['user']['first_name']} #{comment['user']['last_name']}" %></strong>
		</span>
	</div>
	<div class="comment-content well">
		<%= auto_link(simple_format("#{comment['content']}")) %>
	</div>
	<div class="footer">
		<small>
			<%= "#{comment_date_format(datetime_from(comment['created_at']))}" %>

			<!-- YUCK!! Hitting db in view! But cancancan needs active record model, so not sure how else to do this -->
			<% this_comment = Comment.find(comment['id']) %>
			<% if can? :destroy, this_comment %>
			- <a href="#" class="comment-delete" val=<%="#{comment_path(comment['id'])}"%> data-content= '<%= render partial: "/comments/confirm_delete" %>' >
				Delete
			</a>
			<% end %>
		</small>
		
	</div>
</div>