<div class="comment">

	<%= render partial: "users/label", locals: { user: comment['user'] } %>

	<div class="comment-content well">
		<div class="text">
			<%= auto_link(simple_format("#{comment['content']}")) %>
		</div>
	</div>
	<div class="footer">
		<small>
			<%= "#{comment_date_format(datetime_from(comment['created_at']))}" %>

			<!-- YUCK!! Hitting db in view! But cancancan needs active record model, so not sure how else to do this -->
			<% this_comment = Comment.find(comment['id']) %>
			<% if can? :destroy, this_comment %>
			- <a href="#" class="comment-delete delete-link" val=<%="#{comment_path(comment['id'])}"%> data-content= '<%= render partial: "/layouts/confirm_delete", locals: { object: "Comment" } %>' data-title="Delete Comment?">
				Delete
			</a>
			- <a href="#" class="comment-edit edit-link" val=<%="#{comment_path(comment['id'])}"%>>
				Edit
			</a>
			<% end %>
		</small>

	</div>
</div>
