<ul class="nav nav-pills view-controls row">
  <li role="presentation" class="view-control choose-filter dropdown">
    <div class="view-control-name filter-name">All Requests</div>
    <a id="filter-dropdown" class="dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Switch filter
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" aria-labelledby="filter-dropdown">
      <li class="active">
        <%= link_to "All Requests", "#", class: "filter", id: "all-issues", data: { filter: "*" } %>
      </li>
      <li>
        <%= link_to "Mine to Design", "#", class: "filter", id: "mine-to-design", data: { filter: ".designer-#{current_user.id}" } %>
      </li>
      <li>
        <%= link_to "Mine to Review", "#", class: "filter", id: "mine-to-review", data: { filter: ".reviewer-#{current_user.id}" } %>
      </li>
      <li>
        <%= link_to "Requested by Me", "#", class: "filter", id: "my-requests", data: { filter: ".user-#{current_user.id}" } %>
      </li>
      <% @statuses.each do |status| %>
        <li>
          <%= link_to "#{status["name"]} Requests", "#", class: "filter", id: "#{status["name"]}-requests", data: { filter: ".status-#{status["id"]}"} %>
        </li>
      <% end %>
    </ul>
  </li>

  <li role="presentation" class="view-control choose-order dropdown ">
    <div class="view-control-name order-name">Order by <span>Date Created</span></div>
    <a id="order-dropdown" class="dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Switch order
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" aria-labelledby="order-dropdown">
      <li class="active">
        <%= link_to "Date Created", "#", class: "order", id: "all-issues", data: { order: "createdAt" } %>
      </li>
      <li>
        <%= link_to "Date Updated", "#", class: "order", id: "all-issues", data: { order: "updatedAt" } %>
      </li>
      <li>
        <%= link_to "Event Name", "#", class: "order", id: "mine-to-design", data: { order: "eventName" } %>
      </li>
      <li>
        <%= link_to "Designer Name", "#", class: "order", id: "mine-to-review", data: { order: "designerName" } %>
      </li>
      <li>
        <%= link_to "Reviewer Name", "#", class: "order", id: "my-requests", data: { order: "reviewerName" } %>
      </li>
      <li>
        <%= link_to "Status", "#", class: "order", id: "my-requests", data: { order: "status" } %>
      </li>
    </ul>
  </li>

  <li role="presentation" class="view-control quickfilter col-md-5 col-sm-12 col-xs-12">
    <div class="view-control-name">Quicksearch</div>
    <%= text_field_tag "request-quicksearch", nil, class: "form-control", placeholder: "Search on any text in the request" %>
  </li>

</ul>
