<div class="page-header">
	<h1>New Publication Request</h1>
</div>

<div class="row">
	<div class="col-md-4 col-xs-4" id="chosen-template">
		<strong>Template for this Request</strong>
		<%= image_tag(@template["image_large"], class: "img-thumbnail") %>
	</div>
	<div class="col-md-8 col-xs-8">
		<%= form_for(@publication_request) do |f| %>
			<div class="row">
				<%= f.hidden_field :template_id, :value => @template["id"] %>

				<div class="field form-group col-md-6 col-xs-12">
				    <%= f.label :event, "Name of the event" %>
				    <%= f.text_field :event, autofocus: true, class: "form-control input-lg", placeholder: "Event" %>
				</div>
				<div class="field form-group col-md-6 col-xs-12 form-inline">
				    <%= f.label :event_date, "Date of the event this is for" %> </br>
				    <%= f.date_select :event_date, { :order => [:day, :month, :year] }, { class: "form-control" } %>
				</div>
			</div>

			<div class="row">
				<div class="field form-group col-md-8 col-xs-12">
				    <%= f.label :description, "Description", class: "sr-only" %>
				    <%= f.text_area :description, class: "form-control input-lg", placeholder: "Description of what you are requesting" %>
				</div>
			</div>

			<div class="row">
				<div class="field form-group col-md-4 col-xs-12">
				    <%= f.label :dimensions, "Dimensions", class: "sr-only" %>
				    <%= f.text_field :dimensions, class: "form-control input-lg", placeholder: "Dimensions e.g. (3x2)" %>
				</div>
			</div>

			<div class="row">
				<div class="field form-group col-md-6 col-xs-12 form-inline">
				    <%= f.label :rough_date, "Date the rough draft is due" %> </br>
				    <%= f.date_select :rough_date, { :order => [:day, :month, :year] }, { class: "form-control" } %>
				</div>

				<div class="field form-group col-md-6 col-xs-12 form-inline">
				    <%= f.label :due_date, "Date the final version is due" %> </br>
				    <%= f.date_select :due_date, { :order => [:day, :month, :year] }, { class: "form-control" } %>
				</div>
			</div>

			<div class="row">
				<div class="field form-group col-md-4 col-xs-12 form-inline">
					<%= f.label :admin_id, "Admin for this request" %> </br>
					<%= f.select :admin_id, @admins_options, {}, class: "form-control" %>
				</div>

				<div class="field form-group col-md-4 col-xs-12 form-inline">
					<%= f.label :designer_id, "Designer for this request" %> </br>
					<%= f.select :designer_id, @designers_options, {}, class: "form-control" %>
				</div>

				<div class="field form-group col-md-4 col-xs-12 form-inline">
					<%= f.label :reviewer_id, "Reviewer for this request" %> </br>
					<%= f.select :reviewer_id, @reviewers_options, {}, class: "form-control" %>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-offset-4 col-xs-offset-2 col-md-4 col-xs-8">
					<%= f.submit("Submit", id: "submit-btn", class: "btn btn-primary btn-lg btn-block") %>
				</div>
			</div>
		<% end %>
	</div>
</div>