<%= stylesheet_link_tag "comments" %>
<%= stylesheet_link_tag "request_attachments" %>
<%= javascript_include_tag "comments" %>
<%= javascript_include_tag "request_attachments" %>
<%= javascript_include_tag "statuses" %>

<div class="page-header">
	<h1><%= @publication_request["event"] %></h1>
</div>

<div class="row workflow">
	<%= render partial: 'workflow', locals: { publication_request: @publication_request } %>
</div>

<div class="row">
	<div class="col-md-4 col-xs-4" id="chosen-template">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Template for this Request</h3>
			</div>
			<div class="panel-body">
				<% if @publication_request["template"] %>
					<%= image_tag(@publication_request["template"]["image_large"], class: "img-thumbnail") %>
				<% else %>
					<h3>No template for this request</h3>
				<% end %>
			</div>
			<div class="panel-footer">
				<% if @publication_request["template"] %>
					<p><%= @publication_request["template"]["name"] %>, <%= @publication_request["template"]["dimensions"] %></p>
					<% if (@publication_request["template"]["link"] != "") && (can? :design, PublicationRequest.find(@publication_request['id'])) %>
						<pre><%= sanitize(link_to("Download Assets", @publication_request["template"]["link"], :target => "_blank")) %> </pre>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>

	<div class="col-md-5 details-module">
	  <div class="module-heading" id="details-module-heading">
			<h3>Details</h3>
		</div>
		<div class="module-content">
			<ul class="list" id="details-list">
				<li class="item item-half">
					<strong class="item-name">
						Status
					</strong>
					<span class="current-status">
						<%= render partial: 'statuses/label', locals: { status: @publication_request["status"] } %>
					</span>
				</li>

				<li class="item item-half">
					<strong class="item-name">
						Name of the event
					</strong>
					<%= link_to '#', id: 'event-field', class: 'editable-field editable', data: { pk: @publication_request["id"], model: 'publication_request', name: 'event', type: "text", url: publication_request_path(@publication_request["id"]), title: 'Event'} do %>
						<%= @publication_request["event"] %>
					<% end %>

				</li>

				<li class="item item-half">
					<strong class="item-name">
						Dimensions
					</strong>
					<%= link_to '#', id: 'dimen-field', class: 'editable-field inactive', data: { pk: @publication_request["id"], model: 'publication_request', name: 'dimensions', type: 'text', url: publication_request_path(@publication_request["id"]), title: 'Dimensions' } do %>
						<%= @publication_request["dimensions"] %>
					<% end %>
				</li>

				<li class="item item-full">
					<strong class="item-name">
						Description
					</strong>
					<%= link_to '#', id: 'descr-field', class: 'editable-field inactive', data: { pk: @publication_request["id"], model: 'publication_request', name: 'description', type: 'textarea', url: publication_request_path(@publication_request["id"]), title: 'Description' } do %>
						<%= simple_format(@publication_request["description"]) %>
					<% end %>
				</li>
			</ul>
		</div>
	</div>

	<div class="col-md-3">
		<div class="module-heading" id="people-module-heading">
			<h3>People</h3>
		</div>
		<div class="module-content">
			<ul class="list" id="people-list">
				<li class="item item-half">
					<strong class="item-name">
						Designer
					</strong>
					<div class="editable-field inactive">
						<%= "#{@publication_request['designer']['first_name']} #{@publication_request['designer']['last_name']}" %>
					</div>
				</li>

				<li class="item item-half">
					<strong class="item-name">
						Requester
					</strong>
					<div class="editable-field inactive">
						<%= "#{@publication_request['user']['first_name']} #{@publication_request['user']['last_name']}" %>
					</div>
				</li>

				<li class="item item-half">
					<strong class="item-name">
						Reviewer
					</strong>
					<div class="editable-field inactive">
						<%= "#{@publication_request['reviewer']['first_name']} #{@publication_request['reviewer']['last_name']}" %>
					</div>
				</li>
			</ul>
		</div>

		<div class="module-heading" id="dates-module-heading">
			<h3>Dates</h3>
		</div>
		<div class="module-content">
			<ul class="list" id="dates-list">
				<li class="item item-half">
					<strong class="item-name">
						Rough Draft Due
					</strong>
					<div class="editable-field inactive">
						<%= date_from(@publication_request["rough_date"]) %>
					</div>
				</li>

				<li class="item item-half">
					<strong class="item-name">
						Final Draft Due
					</strong>
					<div class="editable-field inactive">
						<%= date_from(@publication_request["due_date"]) %>
					</div>
				</li>

				<li class="item item-half">
					<strong class="item-name">
						Event Date
					</strong>
					<div class="editable-field inactive">
						<%= date_from(@publication_request["event_date"]) %>
					</div>
				</li>
			</ul>
		</div>
	</div>

	<!-- <div class="col-md-8 col-xs-8">
		<div class="table-responsive details">
			<table class="table">
				<tbody>
					<tr>
						<td class="lead">Name of the event</td>
						<td>
							<div class="editable-field inactive">
								<%= @publication_request["event"] %>
								<span class="glyphicon glyphicon-pencil overlay-icon"></span>
							</div>
						</td>
						<td class="lead">Date of the event</td>
						<td><%= date_from(@publication_request["event_date"]) %> </td>
					</tr>

					<tr>
						<td rowspan="2" class="lead">Dimensions</td>
						<td rowspan="2"><%= @publication_request["dimensions"] %></td>
						<td rowspan="2"></td>
						<td class="lead">Date the rough draft is due</td>
						<td><%=date_from(@publication_request["rough_date"]) %></td>
					</tr>

					<tr>
						<td class="lead">Date the final version is due</td>
						<td><%= date_from(@publication_request["due_date"]) %></td>
					</tr>

					<tr>
						<td rowspan="3" class="lead">Description</td>
						<td colspan="2" rowspan="3"><%= @publication_request["description"] %></td>
						<td class="lead">Admin for this request</td>
						<td><%= "#{@publication_request['admin']['first_name']} #{@publication_request['admin']['last_name']}" %></td>
					</tr>
					<tr>
						<td class="lead">Designer for this request</td>
						<td><%= "#{@publication_request['designer']['first_name']} #{@publication_request['designer']['last_name']}" %></td>
					</tr>
					<tr>
						<td class="lead">Reviewer for this request</td>
						<td><%= "#{@publication_request['reviewer']['first_name']} #{@publication_request['reviewer']['last_name']}" %></td>
					</tr>

				</tbody>
			</table>
		</div>

	</div> -->
</div>

<hr>

<div id="attachments-area">
	<div class="row">
		<div class="col-md-offset-1 col-md-5 col-xs-12">
			<% if @publication_request["request_attachments"].any? %>
				<h2><span class="glyphicon glyphicon-paperclip"></span> Attachments</h2>
			<% end %>
		</div>
	</div>

	<div class="row">
		<div id="attachments" class="col-md-offset-1 col-md-5 col-xs-12">
			<% @publication_request["request_attachments"].each do |attachment| %>
				<%= render partial: "/request_attachments/show", locals: { attachment: attachment } %>
			<% end %>
		</div>
	</div>
</div>

<div id="comments-area">

	<div class="row">
		<div class="col-md-offset-1 col-md-5 col-xs-12">
			<h2>Comments</h2>
			<%= form_for([@publication_request_obj, @comment], multipart: true) do |f| %>
				<div class="field form-group">
					<span class="glyphicon glyphicon-comment"></span>
					<%= f.label :content, "Add Comment", class: "control-label"%>
					<%= f.text_area :content, class: "form-control", placeholder: "Write a comment...", rows: "3" %>
				</div>

				<%= f.submit("Comment", id: "comment-btn", class: "btn btn-primary", remote: true, disabled: true) %>
				<a class="attachment-btn" href="#" title="Add an attachment..." data-content= '<%= render( partial: "/request_attachments/choose_type", locals: { request: @publication_request_obj, attachment: @attachment } )%>'>
					<span class="glyphicon glyphicon-paperclip"></span>
				</a>
				<%= render partial: 'layouts/progress_bar' %>
			<% end %>
			<hr>
		</div>
	</div>

	<div class="row">
		<div id="comments" class="col-md-offset-1 col-md-5 col-xs-12">
			<% @publication_request["comments"].each do |comment| %>
				<%= render partial: '/comments/show', locals: { comment: comment } %>
			<% end %>
		</div>
	</div>

</div>

<%= render partial: '/request_attachments/modal', locals: { attachments: @publication_request["request_attachments"] } %>
