<div class="page-header">
	<h1><%= @publication_request["event"] %></h1>
</div>

<div class="row">
	<div class="col-md-4 col-xs-4" id="chosen-template">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Template for this Request</h3>
			</div>
			<div class="panel-body">
				<%= image_tag(@publication_request["template"]["image_large"], class: "img-thumbnail") %>
			</div>
			<div class="panel-footer">
				<p><%= @publication_request["template"]["name"] %>, <%= @publication_request["template"]["dimensions"] %></p>
				<% if @publication_request["template"]["url"] %>
					<pre><%= @publication_request["template"]["url"] %> </pre>
				<% end %>
			</div>
		</div>
	</div>

	<div class="col-md-8 col-xs-8">
		<table class="table">
			<tbody>
				<tr>
					<td class="lead">Name of the event</td>
					<td><%= @publication_request["event"] %></td>
					<td></td>
					<td class="lead">Date of the event</td>
					<td><%= date_from(@publication_request["event_date"]) %> </td>
				</tr>

				<tr>
					<td rowspan="2" class="lead">Dimensions</td>
					<td rowspan="2"><%= @publication_request["dimensions"] %></td>
					<td rowspan="2"></td>
					<td class="lead">Date the rough draft is due</td>
					<td><%=date_from(@publication_request["rough_date"]) %></td>
				</tr>

				<tr>
					<td class="lead">Date the final version is due</td>
					<td><%= date_from(@publication_request["due_date"]) %></td>
				</tr>

				<tr>
					<td rowspan="3" class="lead">Description</td>
					<td colspan="2" rowspan="3"><%= @publication_request["description"] %></td>
					<td class="lead">Admin for this request</td>
					<td><%= "#{@publication_request['admin']['first_name']} #{@publication_request['admin']['last_name']}" %></td>
				</tr>
				<tr>
					<td class="lead">Designer for this request</td>
					<td><%= "#{@publication_request['designer']['first_name']} #{@publication_request['designer']['last_name']}" %></td>
				</tr>
				<tr>
					<td class="lead">Reviewer for this request</td>
					<td><%= "#{@publication_request['reviewer']['first_name']} #{@publication_request['reviewer']['last_name']}" %></td>
				</tr>

			</tbody>
		</table>

	</div>
</div>

<hr>

<div class="row comments">
	<!-- Show comments here -->
</div>

