<!-- <button type="button" class="btn btn-primary btn-lg template-cell">
  No Template
</button> -->
<div class="template-cell">
	<%= link_to(new_publication_request_path) do %>
		<div class="img-thumbnail no-template">
			<span class="glyphicon glyphicon-ban-circle"></span>
			<p>
				No Template
			</p>
		</div>
	<% end %>
</div>
<% templates.each do |template| %>
	<%= content_tag(:div, class: "template-cell #{template['tags'].map { |tag| tag['name'] }.join(' ')}") do %>
		<%= link_to(new_publication_request_path(:template_id => template['id'])) do %>
			<div class="panel panel-default">
			  <div class="panel-body">
						<%= image_tag(template['image_medium']) %>
			  </div>
			  <div class="panel-footer">
					<div class="tags">
						<% template["tags"].each do |tag| %>
							<span class="label label-info"><%=tag["name"]%></span>
						<% end %>
					</div>
			  </div>
			</div>
		<% end %>
	<% end %>
<% end %>
