<div class="page-header">
  <h1>Templates<small></small></h1>
</div>
<% if can? :create, Template %>
	<%= link_to "Create New Template", new_template_path, class: "btn btn-primary" %>
<% end %>

<table class="templates table table-striped">
	<thead>
		<th>
			Image
		</th>
		<th>
			Name
		</th>
		<th>
			Dimensions
		</th>
		<th>
			Tags
		</th>
		<th>
			Assets URL
		</th>
		<th colspan="2">
		</th>
	</thead>
	<% @templates.each do |template| %>
		<tr class="template">
			<td class="">
				<%= image_tag(template["image_small"], class: "image-thumbnail") %>
			</td>
			<td class="">
				<%= link_to "#", id: 'name-field', class: 'editable-field editable',
												 data: {
													 pk: template["id"],
													 model: 'template',
													 name: 'name',
													 type: 'text',
													 url: template_path(template["id"]),
													 title: 'Name'
												 } do %>
					<%= template["name"] %>
				<% end %>
			</td>
			<td class="">
				<%= link_to "#", id: 'dimen-field', class: 'editable-field editable',
												 data: {
													 pk: template["id"],
													 model: 'template',
													 name: 'dimensions',
													 type: 'text',
													 url: template_path(template["id"]),
													 title: 'Dimensions'
												 } do %>
					 <%= template["dimensions"] %>
				<% end %>
			</td>
			<td class="">
				<!-- <%= link_to "#", id: 'tags-field', class: 'editable-field editable',
												 data: {
													 pk: template["id"],
													 model: 'template',
													 name: 'all_tags',
													 type: 'select2',
													 url: template_path(template["id"]),
													 title: 'Tags',
                           value: template["tags"].map { |tag| tag["name"] },
                           source: @tag_options
												 } do %>
				<% end %> -->
        <%= select_tag "template[all_tags]", options_for_select(@tag_options, template["tags"].map { |tag| tag["name"] }), include_hidden: false, class: "template-tags form-control input-lg", style: "width: 80%;", multiple: true, data: { url: "/templates/#{template['id']}" }  %>
			</td>
			<td class="">
				<%= link_to "#", id: 'url-field', class: 'editable-field editable',
												 data: {
													 pk: template["id"],
													 model: 'template',
													 name: 'link',
													 type: 'text',
													 url: template_path(template["id"]),
													 title: 'Assets URL'
												 } do %>
				  <%= sanitize(template["link"]) %>
				<% end %>
			</td>
			<td>
				<a class="template-delete delete-link" href="#" val='<%="#{template_path(template['id'])}"%>' data-content='<%= render partial: "/layouts/confirm_delete", locals: { object: "Template" } %>'>
					<span class="glyphicon glyphicon-trash"></span>Delete
				</a>
				<!-- <%= link_to "Delete", template_path(template['id']), method: :delete %> -->
			</td>
		</tr>
	<% end %>
</div>
