<%= stylesheet_link_tag "templates" %>
<%= stylesheet_link_tag "statuses" %>
<%= stylesheet_link_tag "publication_requests" %>
<%= javascript_include_tag 'freewall' %>
<%= javascript_include_tag 'isotope.pkgd.min' %>

<div class="page-header">
	<h1>Publishing Portal</h1>
</div>

<% unless signed_in? %>
	<div class="row">
		<div class="col-md-offset-4 col-md-4 col-xs-offset-2 col-xs-8">
			<%= render partial: 'sessions/new' %>
		</div>
	</div>
<% else %>
	<div class="row">
		<h2 id="welcome-header" class="col-md-4 col-xs-8"> Welcome <%= current_user.first_name %> <%= current_user.last_name %></h2>
	</div>

	<div class="row">
		<div class="col-md-12">
			<div class="panel-group" id="accordion" aria-multiselectable="true">

			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="create-request-heading">
			      <h3 class="panel-title">
			        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#create-request-templates" aria-expanded="true" aria-controls="create-request-templates">
								Submit a Publication Request
			        </a>
			      </h3>
			    </div>
			    <div id="create-request-templates" class="panel-collapse collapse" role="tabpanel" aria-labelledby="create-request-heading">
			      <div class="panel-body">

							<div class="row">
								<div class="col-md-12">
									<h3>Choose a template to base your publication request on</h3>
								</div>
							</div>

							<div class="wall" id="templates-wall">
								<div class="col-md-12">
									<%= render partial: '/templates/index', locals: { templates: @templates } %>
								</div>
							</div>

			      </div>
			    </div>
			  </div>

				<div class="panel panel-default">
				  <div class="panel-heading" role="tab" id="current-requests-heading">
				    <h4 class="panel-title">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#current-requests" aria-expanded="true" aria-controls="current-requests">
								View Publication Requests
			        </a>
						</h4>
				  </div>
					<div id="current-requests" class="panel-collapse collapse" role="tabpanel" aria-labelledby="current-requests-heading">
					  <div class="panel-body">

							<ul class="nav nav-pills">
								<li role="presentation" class="dropdown">
									<a id="filter-dropdown" class="dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										Switch filter
										<span class="caret"></span>
									</a>
									<ul class="dropdown-menu" aria-labelledby="filter-dropdown">
										<li class="active">
											<%= link_to "All Requests", "#", class: "filter", id: "all-issues", data: { filter: "*" } %>
										</li>
										<li>
											<%= link_to "Mine to Design", "#", class: "filter", id: "mine-to-design", data: { filter: ".designer-#{current_user.id}" } %>
										</li>
										<li>
											<%= link_to "Mine to Review", "#", class: "filter", id: "mine-to-review", data: { filter: ".reviewer-#{current_user.id}" } %>
										</li>
										<li>
											<%= link_to "Requested by Me", "#", class: "filter", id: "my-requests", data: { filter: ".user-#{current_user.id}" } %>
										</li>
										<% @statuses.each do |status| %>
											<li>
												<%= link_to "#{status["name"]} Requests", "#", class: "filter", id: "#{status["name"]}-requests", data: { filter: ".status-#{status["id"]}"} %>
											</li>
										<% end %>
									</ul>
								</li>
							</ul>
							<%= render partial: '/publication_requests/index', locals: { requests: @requests } %>

					  </div>
					</div>
				</div>
			</div>
		</div>
	</div>

<% end %>
