<%= stylesheet_link_tag "templates.css" %>
<%= stylesheet_link_tag "publication_requests" %>

<div class="page-header">
	<h1>Publishing Portal</h1>
</div>

<% unless signed_in? %>
	<div class="row">
		<div class="col-md-offset-4 col-md-4 col-xs-offset-2 col-xs-8">
			<%= render partial: 'sessions/new' %>
		</div>
	</div>
<% else %>
	<div class="row">
		<h2 id="welcome-header" class="col-md-4 col-xs-8"> Welcome <%= current_user.first_name %> <%= current_user.last_name %></h2>
	</div>

	<div class="row">
		<div class="col-md-12">
			<div id="create-request-btn">
				<div class="title">Submit a Publication Request</div> <!--<span class="glyphicon glyphicon-chevron-right"></span>-->

				<div id="create-request-templates" class="well">
					<div class="row">
						<div class="col-md-12">
							<h3>Choose a template to base your publication request on</h3>
						</div>
					</div>

					<div class="wall" id="templates-wall">
						<div class="col-md-12">
							<% @templates.each do |template| %>
								<div class="template-cell">
									<%= link_to(image_tag(template['image_medium'], class: "img-thumbnail"), new_publication_request_path(:template_id => template['id'])) %>
								</div>
							<% end %>
						</div>
					</div>
				</div>
			</div>

			
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<div id="view-requests-btn">
				<div class="title">Current In-Progress Requests</div> <!--<span class="glyphicon glyphicon-chevron-right"></span> -->

				<div id="current-requests" class="well">
					<%= render partial: '/publication_requests/index', locals: { requests: @requests } %>
				</div>
			</div>
			
		</div>
	</div>

<% end %>


