<div class="attachment">
	
	<%= render partial: "/users/label", locals: { user: attachment['user'] } %>

	<div class="attachment-content well">
		<% if is_image_file?(attachment['file_content_type']) %>
			<%= image_tag attachment['file_small'] %>
		<% end %>
	</div>
	<div class="footer">
		<small>
			<%= "#{comment_date_format(datetime_from(attachment['created_at']))}" %>

			<!-- YUCK!! Hitting db in view! But cancancan needs active record model, so not sure how else to do this -->
			<% this_attachment = RequestAttachment.find(attachment['id']) %>
			<% if can? :destroy, this_attachment %>
			- <a href="#" class="attachment-delete delete-link" val=<%="#{request_attachment_path(attachment['id'])}"%> data-content= '<%= render partial: "/layouts/confirm_delete", locals: { object: "Attachment" } %>' data-title="Delete Attachment?" >
				Delete
			</a>
			<% end %>
		</small>
		
	</div>
</div>