<!DOCTYPE html>
<html>
<head>
  <title>PubsPortal</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag params[:controller] %>
  <%= stylesheet_link_tag 'jquery.minicolors' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'freewall' %>
  <%= javascript_include_tag 'jstz.min' %>
  <%= javascript_include_tag 'rails-timezone.min' %>
  <%= javascript_include_tag 'jquery.minicolors' %>
  <%= javascript_include_tag params[:controller] %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div class="container-fluid top-bar">

		<% if signed_in? %>
      <ul class="nav nav-pills">
        <li role="presentation" id="home-btn"><%= link_to "Home", root_path %></li>
        <% if(can?(:create, Template) || can?(:create, User) || can?(:create, Status)) %>
          <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" href="#" role="button" id="admin-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Admin
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="admin-dropdown">
              <% if can? :create, Template %>
                <li>
                  <%= link_to "Templates", templates_path %>
                </li>
              <% end %>
              <% if can? :create, User %>
                <li>
                  <%= link_to "Users", users_path %>
                </li>
              <% end %>
              <% if can? :create, Status %>
                <li>
                  <%= link_to "Workflow", statuses_path %>
                </li>
              <% end %>
            </ul>
          </li>
        <% end %>
      </ul>
    <% end %>

		<% if flash[:error] %>
			<div class="alert alert-danger alert-dismissible" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<%= flash[:error] %>
			</div>
		<% end %>
		<% if flash[:success] %>
			<div class="alert alert-success alert-dismissible" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<%= flash[:success] %>
			</div>
		<% end %>

		<%= yield :form_errors %>

		<%= yield %>

	</div>

</body>
</html>
